.welcome:hover{
    
    background-color: rgba(0, 0, 0, 0.537);
    
}
.welcome{
    transition: background-color 300ms;
}
.button__float:hover {
    background-color: black;
    color: white;
    
}
.button__float--first:hover {
    animation: float 2s infinite alternate-reverse;
}

.button__float--first {
    transition: all 300ms;
    
}
@keyframes float{
  0%{
     transform: translateY(0);
  }
  100%{
    transform: translateY(4px);
  }
}
.button__float--second {
    transition: all 300ms;
   
}
.button__float--second:hover {
    animation: float 2200ms infinite alternate-reverse; 
    
}
.nav__link{
    color: black;
}
.nav__link--active{
    color: purple;
    font-weight: bold;
}