h1{
    color: rgb(122, 61, 61);
}
.first{
    width: 100%;
    
    background-color: rgb(0, 0, 255,0.5);
    border: 1px dotted black;
    font-size: 12px;
    font-weight: 600;
    font-family:"poppins", sans-serif;
}
.red{
    color: red;
}
.black{
    color: black;
}
#sub-title{
    font-weight: bold;
    color: beige;
}
section{
    height: 80vh;
    border: 1px solid blue;
}
.heading.red{
    color: blue !important;
}
#title{
    color: black;
}
